.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px 20px;
  background-color: black;
  color: aliceblue;
  top: 0;
  max-width: 99vw;
  width: 97%;
  z-index: 100;
  margin-left: 0;
}
a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  scale: 1.1;
}
a:focus {
  color: rgb(106, 179, 134);
}
html {
  scroll-behavior: smooth;
}

.subnav {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 200px;
  gap: 40px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dhruvimg {
  border: none;
  border-radius: 50%;
  height: 400px;
  margin-bottom: 2em;
}
.name {
  font-size: 100px;
  font-family: "Barriecito", cursive;
  margin-left: 10px;
  margin-bottom: 1em;
}

body {
  margin: 0;
  background-color: rgb(106, 179, 134);
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
@media screen and (min-width: 992px) {
  .dhruvimg {
    right: 50px;
    top: 150px;
  }
  .name {
    font-size: 200px;
    margin: 0 20px;
    z-index: 10;
  }
}

.name:hover {
  color: rgb(69, 54, 11);
  transition: all 0.25s ease-in-out;
  transition: color 0.4s ease;
}
.dhruvimg:hover {
  scale: 1.02;
  transition: scale 0.2s ease-in-out;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  position: relative;
  padding: 0;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
p {
  width: 60%;
}
.heading {
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.about-container {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
}

.contact-container {
  background-color: rgb(76, 131, 97);
  padding: 10px 25px;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  margin-bottom: 3em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: rgb(172, 223, 162);

  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.contact-form input[type="submit"] {
  background-color: rgb(106, 179, 134);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.1s ease-in-out;
}

.contact-form input[type="submit"]:hover {
  background-color: rgb(69, 54, 11);
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea :focus {
  outline: none;
}
